<h1>CAMPER</h1>
<h3>Login</h3>
<form name="login" action="/login" method="post">
	<h3>Email</h3>
	<input type="text" name="email" placeholder= "Ex: example@email.com">
	<h3>Password</h3>
	<input type="text" name="password" placeholder="At least 8 characters">
	<br>
	<input type="submit" value="Submit">
</form>