<div>
	<h1>Sign In</h1>
	<form class="form form-stacked form-light" name="login" action="/login" method="post">
		<label class="m2">Email:</label>
		<input type="email" name="email" placeholder= "Ex: example@email.com">
		<label class="m2">Password:</label>
		<input type="password" name="password" placeholder="At least 8 characters">
		<input class="m2" type="submit" value="Submit">
	</form>
</div>