<div>
	<h1>Sign In</h1>
	<form class="form form-stacked form-light" name="login" action="/login" method="post">
		<label>Email:</label>
		<input type="text" name="email" placeholder= "Ex: example@email.com">
		<label>Password:</label>
		<input type="text" name="password" placeholder="At least 8 characters">
		<input class="m2"type="submit" value="Submit">
	</form>
</div>