<h1>Profile</h1>
<label>First Name: </label> <%= @user.first_name %> <br>
<label>Last name: </label><%= @user.last_name %><br>
<label>Email: </label><%= @user.email %><br>
<label>Bio: </label><%= @user.bio %>