<nav class="nav mobile-nav-table nav-tabs clearfix">
    <a href="/" class="bold h3">Camper </a>
    <% if session[:id] %>
    <a href="/campgrounds" >Search</a>
    <a href="/users/<%=session[:id]%>/favorites" class="active">Favorites</a>
    <a href="/logout">Log Out</a>
    <%else%>
    <a href="/register">Register</a>
    <a href="/campgrounds">Search</a>
    <a href="/login">Sign In</a>
    <%end%>
  </div>
</nav>
<div class="row">
<%if session[:id] %>
  <div class="mobile-col mobile-col-6 col-5">
    <div>
      <%= erb :profile %>
    </div>
  </div>
  <div class="mobile-col mobile-col-6 col-7">
    <div>
    <%= erb :favorites %>
    </div>
  </div>
  <%end%>
</div>