<nav class="nav mobile-nav-table nav-tabs clearfix">
    <a href="/" class="bold h3">Camper </a>
    <% if session[:id] %>
    <a href="/campgrounds" >Search</a>
    <a href="/users/<%=session[:id]%>/favorites">Favorites</a>
    <a href="/logout">Log Out</a>
    <%else%>
    <a href="/register" class="active">Register</a>
    <a href="/campgrounds">Search</a>
    <a href="/login">Sign In</a>
    <%end%>
  </div>
</nav>
<form class="form form-stacked form-light" name="create-user" action="/users" method="post">
	<label class="m1">First Name:</label>
	<input class="m1"type="text" name="first_name" placeholder="Ex: John"><br>
	<label class="m1">Last Name:</label>
	<input class="m1"type="text" name="last_name" placeholder="Ex: Doe">
	<br>
	<label class="m1">Email    :</label>
	<input type="email" class="m1" name="email" placeholder= "Ex: example@email.com"> <br>
	<label class="m1">Password:</label>
	<input class="m1" type="password" name="password" placeholder="At least 8 characters"><br>
	<input type="submit" value="Submit">
</form>