/*.nav {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: green;
}*/

html { 
  background: url("http://i.imgur.com/A2rAqMT.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inline {
	display:inline;
}

.white {
	color:white;
}
.w280{
	width:280px;
}
